[submodule "Database_builder/CuCuBLAS/nvidia-energy-measure"]
	path = Database_builder/CuCuBLAS/nvidia-energy-measure
	url = git@github.com:p-anastas/nvidia-energy-measure.git
[submodule "Extended_LinkMap"]
	path = Extended_LinkMap
	url = git@github.com:p-anastas/Extended_LinkMap.git
