[submodule "Library_scheduler/Software_caching"]
	path = Library_scheduler/Software_caching
	url = git@github.com:aristomenisTheod/Software_caching.git
[submodule "Deployment_phase/CuCuBLAS/nvidia-energy-measure"]
	path = Deployment_phase/CuCuBLAS/nvidia-energy-measure
	url = git@github.com:p-anastas/nvidia-energy-measure.git
[submodule "Database_builder/CuCuBLAS/nvidia-energy-measure"]
	path = Database_builder/CuCuBLAS/nvidia-energy-measure
	url = git@github.com:p-anastas/nvidia-energy-measure.git
